{% extends 'base.html.twig' %}

{% block title %}Add Item{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="/list" class="btn btn-block btn-light mt-3">Cancel</a>
{% endblock %}